@import '../../core/styles/colors.scss';

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  color: $red;
  border-radius: 5px;
  border: 1px solid $red;
  background-color: $black;
  label {
    font-size: 15px;
  }
  input {
    font-family: 'Press Start 2P', cursive;
    padding: 0.5rem;
    background-color: $black;
    border: 1px solid $red;
    color: $red;
    border-radius: 5px;
  }
}
